.headerContainer{
    -fx-background-color: #242424;
}

.updateButton {
    -fx-background-color: #0093d9;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.editButton{
    -fx-text-fill: white;
}

.text-input {
    -fx-background-color: #101010;
    -fx-prompt-text-fill: white;
}


.backButton{
    -fx-background-color: #101010;
    -fx-text-fill: white;
}

.backButton:hover{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.passwordResetButton{
    -fx-text-fill: white;
    -fx-background-color: #101010;
    -fx-font-weight: bold;
}

.passwordResetButton:hover {
    -fx-background-color: #0093d9;
}

.deleteAccountButton {
    -fx-text-fill: white;
    -fx-background-color: red;
    -fx-font-weight: bold;
}
